// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    height: 100vh;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.wrapper__content {
    padding: 48px;
    border-radius: 6px;
}

button {
    width: 382px;
    height: 92px;
}